body{
    background: #ccc;
    font-family: sans-serif;
}
ul {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
}
ul li a .fa-brands {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: 0.5s;
    padding-right: 14px;
}
ul li a span {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: 0.5s;
}
ul li a {
    text-decoration: none;
    display: block;
    width: 210px;
    height: 80px;
    background: white;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 0px  rgba(0, 0, 0, 0.5);
}
ul li a:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}
ul li a::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}
ul li a:hover{
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px) ;
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul li:hover .fa-brands{
    color:#fff;

}
ul li:hover span{
    color:#fff;
}
ul li:hover a.fa-facebook-f  {
    background-image: linear-gradient(to right , #3B5998, #ffff);
}
ul li:hover a.fa-twitter  {
    background-image: linear-gradient(to right, #1DA1F2,#F5F8FA);
}
ul li:hover a.fa-google  {
    background-image: linear-gradient(to right , #E34133,#F3B605, #32A350);
}
ul li:hover a.fa-instagram  {
    background-image: linear-gradient(to right, #8A3AB9,#E95950);
}
ul li:hover a.fa-facebook-f::before {
    background: #3B5998;
}
ul li:hover a.fa-facebook-f::after{
    background-image: linear-gradient(to right , #3B5998, #ffff);
}

ul li:hover a.fa-twitter::before {
    background: #1DA1F2;
}
ul li:hover a.fa-twitter::after{
    background-image: linear-gradient(to right, #1DA1F2,#F5F8FA);
}

ul li:hover a.fa-google::before {
    background: #E34133;
}
ul li:hover a.fa-google::after{
    background-image: linear-gradient(to right , #E34133,#F3B605, #32A350);
}

ul li:hover a.fa-instagram::before {
    background: #8A3AB9;
}
ul li:hover a.fa-instagram::after{
    background-image: linear-gradient(to right, #8A3AB9,#E95950);
}
